<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('images/q-logo.svg') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Montserrat:wght@400;700&family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">

        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <header class="top-nav">
            <div class="top-nav-container">
                <div class="top-nav-brand">
                    <img src="{{ asset('images/logo-plain.svg') }}" alt="QwePic Logo" class="top-nav-brand-logo">
                </div>
                <div class="top-nav-search">
                    <input type="text" placeholder="Search for photos, people, or groups">
                </div>
                <div class="top-nav-actions">
                    <a href="{{ path('app_login') }}" class="btn btn-secondary">Login</a>
                    <a href="{{ path('app_register') }}" class="btn btn-primary">Sign Up</a>
                </div>
            </div>
        </header>

        {% include 'sidebar.html.twig' %}

        <div class="content-wrapper">
            <main class="main-content">
                 {% block body %}{% endblock %}
            </main>
            {# <footer class="main-footer">
                <div class="container footer-container">
                    <div class="footer-links">
                        <a href="#">About Us</a>
                        <a href="#">Contact</a>
                        <a href="#">Terms of Service</a>
                        <a href="#">Privacy Policy</a>
                    </div>
                    <div class="footer-social">
                        <a href="#" aria-label="Facebook"><img src="{{ asset('images/facebook.svg') }}" alt="Facebook"></a>
                        <a href="#" aria-label="Instagram"><img src="{{ asset('images/instagram.svg') }}" alt="Instagram"></a>
                    </div>
                    <div class="footer-copyright">
                        <img src="{{ asset('images/q-logo.svg') }}" alt="QwePic Logo" class="footer-logo">
                        <span>&copy; {{ 'now'|date('Y') }} QwePic. All Rights Reserved.</span>
                    </div> #}
                {# </div> #}
            {# </footer> #}

        <button class="scroll-to-top" data-controller="scroll-to-top" data-action="click->scroll-to-top#top">
            <img src="{{ asset('images/arrow-up.svg') }}" alt="Scroll to top">
        </button>
    </body>
</html>
