<!-- Sidebar Navigation Template -->
<aside class="sidebar">
    <div class="sidebar-inner">
        <nav class="sidebar-nav">
            <a href="{{ path('app_home') }}" class="nav-item" data-tooltip="Home">
                <img src="{{ asset('images/q-logo.svg') }}" alt="Home" class="nav-icon">
            </a>
            <a href="{{ path('app_explore') }}" class="nav-item" data-tooltip="Explore">
                <img src="{{ asset('images/explore.svg') }}" alt="Explore" class="nav-icon">
            </a>
            {# <a href="#" class="nav-item" data-tooltip="Login / Sign Up">
                <img src="{{ asset('images/user.svg') }}" alt="Login / Sign Up" class="nav-icon">
            </a> #}
        </nav>
    </div>
</aside>
